<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="ModelFactory" name="%extension-point.name" schema="schema/ModelFactory.exsd"/>
   <extension-point id="PersistenceService" name="%extension-point.name.0" schema="schema/PersistenceService.exsd"/>
   <extension-point id="ApplicationService" name="%extension-point.name.1" schema="schema/ApplicationService.exsd"/>
   <extension-point id="PreferencesInitializer" name="%extension-point.name.2" schema="schema/PreferencesInitializer.exsd"/>
   <extension-point id="IDGenerator" name="%extension-point.name.3" schema="schema/IDGenerator.exsd"/>
   <extension-point id="FormatInterpreter" name="%extension-point.name.4" schema="schema/FormatInterpreter.exsd"/>
   <extension-point id="NamespaceHandler" name="%extension-point.name.5" schema="schema/NamespaceHandler.exsd"/>
   <extension-point id="ElementHandler" name="%extension-point.name.6" schema="schema/ElementHandler.exsd"/>
   <extension-point id="XMLParser" name="%extension-point.name.7" schema="schema/XMLParser.exsd"/>
   <extension-point id="TypeImporter" name="%extension-point.name.8" schema="schema/TypeImporter.exsd"/>
   <extension-point id="ProtocolHandler" name="%extension-point.name.9" schema="schema/ProtocolHandler.exsd"/>
   <extension-point id="CredentialsProvider" name="%extension-point.name.10" schema="schema/CredentialsProvider.exsd"/>
   <extension-point id="SSLHandler" name="%extension-point.name.11" schema="schema/SSLHandler.exsd"/>
   <extension-point id="DAOService" name="%extension-point.name.12" schema="schema/DAOService.exsd"/>
   <extension-point id="NewsAction" name="%extension-point.name.13" schema="schema/NewsAction.exsd"/>
   <extension-point id="TypeExporter" name="%extension-point.name.14" schema="schema/TypeExporter.exsd"/>
   <extension
         point="org.rssowl.core.PersistenceService">
      <persistenceservice class="org.rssowl.core.internal.persist.service.PersistenceServiceImpl"/>
   </extension>
   <extension
         point="org.rssowl.core.ApplicationService">
      <applicationservice class="org.rssowl.core.internal.ApplicationServiceImpl"/>
   </extension>
   <extension
         point="org.rssowl.core.IDGenerator">
      <idgenerator
            class="org.rssowl.core.internal.persist.service.DB4OIDGenerator">
      </idgenerator>
   </extension>
	<extension
         point="org.rssowl.core.FormatInterpreter">
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.RSSInterpreter"
            rootElement="rss"/>
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.RDFInterpreter"
            rootElement="rdf"/>
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.AtomInterpreter"
            rootElement="feed"/>
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.OPMLInterpreter"
            rootElement="opml"/>
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.CDFInterpreter"
            rootElement="channel"/>
      <formatInterpreter
            class="org.rssowl.core.internal.interpreter.BugzillaInterpreter"
            rootElement="bugzilla"/>
   </extension>
   <extension
         point="org.rssowl.core.NamespaceHandler">
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.DublinCoreNamespaceHandler"
            namespaceURI="http://purl.org/dc/elements/1.1/"/>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.SyndicationNamespaceHandler"
            namespaceURI="http://purl.org/rss/1.0/modules/syndication/"/>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.ContentNamespaceHandler"
            namespaceURI="http://purl.org/rss/1.0/modules/content/"/>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.XMLNamespaceHandler"
            namespaceURI="http://www.w3.org/XML/1998/namespace"/>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.PodcastNamespaceHandler"
            namespaceURI="http://www.itunes.com/dtds/podcast-1.0.dtd">
      </namespaceHandler>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.MediaNamespaceHandler"
            namespaceURI="http://search.yahoo.com/mrss/">
      </namespaceHandler>
      <namespaceHandler
            class="org.rssowl.core.internal.interpreter.MediaNamespaceHandler"
            namespaceURI="http://search.yahoo.com/mrss">
      </namespaceHandler>
   </extension>
   <extension
         point="org.rssowl.core.TypeImporter">
      <typeImporter
            class="org.rssowl.core.internal.interpreter.OPMLImporter"
            rootElement="opml"/>
   </extension>
   <extension
         point="org.rssowl.core.TypeExporter">
      <typeExporter
            class="org.rssowl.core.internal.interpreter.OPMLExporter">
         <format
               name="opml">
         </format>
         <format
               name="xml">
         </format>
      </typeExporter>
   </extension>
   <extension
         point="org.rssowl.core.ProtocolHandler">
      <protocolHandler
            class="org.rssowl.core.internal.connection.DefaultProtocolHandler"
            protocol="http"/>
      <protocolHandler
            class="org.rssowl.core.internal.connection.DefaultProtocolHandler"
            protocol="https"/>
      <protocolHandler
            class="org.rssowl.core.internal.connection.DefaultProtocolHandler"
            protocol="file"/>
      <protocolHandler
            class="org.rssowl.core.internal.connection.DefaultProtocolHandler"
            protocol="feed">
      </protocolHandler>
      <protocolHandler
            class="org.rssowl.core.internal.connection.ReaderProtocolHandler"
            protocol="reader">
      </protocolHandler>
      <protocolHandler
            class="org.rssowl.core.internal.connection.ReaderProtocolHandler"
            protocol="readers">
      </protocolHandler>
   </extension>
   <extension
         point="org.rssowl.core.DAOService">
      <daoservice
            class="org.rssowl.core.internal.persist.dao.DAOServiceImpl">
      </daoservice>
   </extension>
   <extension
         point="org.rssowl.core.CredentialsProvider">
      <credentialsProvider
            class="org.rssowl.core.connection.PlatformCredentialsProvider"
            protocol="http">
      </credentialsProvider>
      <credentialsProvider
            class="org.rssowl.core.connection.PlatformCredentialsProvider"
            protocol="https">
      </credentialsProvider>
      <credentialsProvider
            class="org.rssowl.core.connection.PlatformCredentialsProvider"
            protocol="file">
      </credentialsProvider>
      <credentialsProvider
            class="org.rssowl.core.connection.PlatformCredentialsProvider"
            protocol="feed">
      </credentialsProvider>
   </extension>
   <extension
         point="org.rssowl.core.ModelFactory">
      <modelFactory
            class="org.rssowl.core.internal.persist.DefaultModelFactory">
      </modelFactory>
   </extension>
   <extension
         point="org.rssowl.core.SSLHandler">
      <sslhandler
            class="org.rssowl.core.internal.connection.EasySSLProtocolSocketFactory">
      </sslhandler>
   </extension>
   <extension
         point="org.rssowl.core.XMLParser">
      <xmlparser
            class="org.rssowl.core.internal.interpreter.DefaultSaxParserImpl">
      </xmlparser>
   </extension>
   <extension
         point="org.rssowl.core.NewsAction">
      <newsAction
            class="org.rssowl.core.internal.newsaction.MoveNewsAction"
            id="org.rssowl.core.MoveNewsAction"
            name="%MOVE_NEWS_ACTION"
            forcable="true"
            sortKey="95">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.CopyNewsAction"
            id="org.rssowl.core.CopyNewsAction"
            name="%COPY_NEWS_ACTION"
            forcable="true"
            sortKey="90">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.MarkStickyNewsAction"
            id="org.rssowl.core.MarkStickyNewsAction"
            name="%MARK_STICKY_ACTION"
            forcable="true"
            sortKey="83">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.LabelNewsAction"
            id="org.rssowl.core.LabelNewsAction"
            name="%LABEL_ACTION"
            forcable="true"
            sortKey="80">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.MarkReadNewsAction"
            id="org.rssowl.core.MarkReadNewsAction"
            name="%MARK_READ_ACTION"
            forcable="true"
            sortKey="75">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.MarkUnreadNewsAction"
            id="org.rssowl.core.MarkUnreadNewsAction"
            name="%MARK_UNREAD_ACTION"
            forcable="true"
            sortKey="74">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.StopFilterNewsAction"
            description="%STOP_FILTER_DESCRIPTION"
            id="org.rssowl.core.StopFilterAction"
            name="%STOP_FILTER_ACTION"
            forcable="true"
            sortKey="12">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.DeleteNewsAction"
            id="org.rssowl.core.DeleteNewsAction"
            name="%DELETE_ACTION"
            forcable="true"
            sortKey="11">
      </newsAction>
      <newsAction
            class="org.rssowl.core.internal.newsaction.GrowlNotifyAction"
            description="%SHOW_GROWL_DESCRIPTION"
            forcable="false"
            id="org.rssowl.core.GrowlNotifyAction"
            name="%SHOW_GROWL"
            platform="carbon"
            sortKey="50">
      </newsAction>
   </extension>
</plugin>
