<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.rssowl.core.NamespaceHandler">
      <namespaceHandler
            class="org.rssowl.core.tests.interpreter.CustomNamespaceHandler"
            namespaceURI="http://custom.org/ext/1.0"/>
   </extension>
   <extension
         point="org.rssowl.core.FormatInterpreter">
      <formatInterpreter
            class="org.rssowl.core.tests.interpreter.MyFeedInterpreter"
            rootElement="myfeed"/>
   </extension>
   <extension
         point="org.rssowl.core.ProtocolHandler">
      <protocolHandler
            class="org.rssowl.core.tests.controller.InMemoryProtocolHandler"
            protocol="inmemory">
      </protocolHandler>
   </extension>
   <extension
         point="org.rssowl.core.CredentialsProvider">
      <credentialsProvider
            class="org.rssowl.core.tests.connection.MyCredentialsProvider"
            protocol="http"/>
      <credentialsProvider
            class="org.rssowl.core.tests.connection.MyCredentialsProvider"
            protocol="https">
      </credentialsProvider>
      <credentialsProvider
            class="org.rssowl.core.tests.connection.MyCredentialsProvider"
            protocol="reader">
      </credentialsProvider>
      <credentialsProvider
            class="org.rssowl.core.tests.connection.MyCredentialsProvider"
            protocol="readers">
      </credentialsProvider>
   </extension>
   <extension
         point="org.rssowl.core.ElementHandler">
      <elementHandler
            class="org.rssowl.core.tests.interpreter.CustomRSSElementHandler"
            elementName="custom"
            rootElement="rss"/>
      <elementHandler
            class="org.rssowl.core.tests.interpreter.CustomAtomElementHandler"
            elementName="custom"
            rootElement="feed"/>
      <elementHandler
            class="org.rssowl.core.tests.interpreter.CustomOPMLElementHandler"
            elementName="custom"
            rootElement="opml"/>
      <elementHandler
            class="org.rssowl.core.tests.interpreter.CustomRDFElementHandler"
            elementName="custom"
            rootElement="rdf"/>
      <elementHandler
            class="org.rssowl.core.tests.interpreter.CustomCDFElementHandler"
            elementName="custom"
            rootElement="channel"/>
   </extension>
   <extension
         point="org.rssowl.core.TypeImporter">
      <typeImporter
            class="org.rssowl.core.tests.importer.MyTypeImporter"
            rootElement="myimport"/>
   </extension>
   <extension
         point="org.rssowl.ui.EntityPropertyPage">
      <entityPropertyPage
            class="org.rssowl.core.tests.ui.EntityPropertyPageTests"
            handlesMultipleEntities="true"
            id="org.rssowl.core.tests.ui.EntityPropertyPageTests1"
            name="TestPage1"
            order="0">
         <targetEntity
               class="org.rssowl.core.persist.ILabel">
         </targetEntity>
      </entityPropertyPage>
      <entityPropertyPage
            class="org.rssowl.core.tests.ui.EntityPropertyPageTests"
            id="org.rssowl.core.tests.ui.EntityPropertyPageTests2"
            name="TestPage2"
            order="10">
         <targetEntity
               class="org.rssowl.core.persist.ILabel">
         </targetEntity>
      </entityPropertyPage>
      <entityPropertyPage
            class="org.rssowl.core.tests.ui.EntityPropertyPageTests"
            handlesMultipleEntities="true"
            id="org.rssowl.core.tests.ui.EntityPropertyPageTests3"
            name="TestPage3"
            order="20">
         <targetEntity
               class="org.rssowl.core.persist.ILabel">
         </targetEntity>
         <targetEntity
               class="org.rssowl.core.persist.IFeed">
         </targetEntity>
      </entityPropertyPage>
   </extension>
   <extension
         point="org.rssowl.core.PreferencesInitializer">
      <preferencesInitializer
            class="org.rssowl.core.tests.model.PreferencesScopeTest">
      </preferencesInitializer>
   </extension>
   <extension
         id="TestsPasswordProvider"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.rssowl.core.tests.TestsPasswordProvider"
            priority="10">
      </provider>
   </extension>

</plugin>
