#Fri Aug 19 10:02:04 CEST 2011
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*;.*PerformanceTest.*
pluginbuilder.eclipse.url=http\://www.rssowl.org/dl/target/eclipse-SDK-3.4.2_3.5.2-linux-gtk-x86_64_3.zip
pluginbuilder.feature.urls=http\://www.rssowl.org/dl/target/eclipse-3.4.2_3.5.2-delta-pack_2.zip
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp,org.rssowl.tests,org.rssowl.dependencies,org.rssowl.contrib.notes,org.rssowl.feature.contrib.feedhandler,org.rssowl.feature.contrib.tools
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/branches/2.1.x
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
